#grid1{
    background-color: peachpuff;
  border: solid 1px #fff;
  color: black;
  text-align: center;
}
#grid2{
    background-color: peachpuff;
  border: solid 1px #fff;
  color: black;
  text-align: center;
}
#grid3{
    background-color: peachpuff;
  border: solid 1px #fff;
  color: black;
  text-align: center;
}
#grid4{
  background-color: peachpuff;
  border: solid 1px #fff;
  color: black;
  text-align: center;
}